Flask==3.1.1
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
Werkzeug==3.1.3
gunicorn==23.0.0
bcrypt
numpy
pandas
scipy
scikit-learn
opencv-python
Pillow
tensorflow
keras
h5py
protobuf
absl-py
grpcio
gast
flatbuffers
libclang
ml-dtypes
huggingface_hub
streamlit
altair
pyarrow
watchdog

python-dotenv
requests
fpdf
qrcode
GitPython
